.mat-header-cell {
    text-align: center;
    color: white;
    /* width: 5%; */
    /* background-color: blue; */
  }
  
  /* mat-paginator {
    border-style: solid !important;
    margin:0 auto !important;
  
    float: right;
    margin-right: 2.5%;
  
    height: 15% !important;
  } */
  