<footer [class]="bgModeValue+' mt-2 w-full inset-x-0 border-t-2 rounded-t-md'">

  <div class="container"> 

    <div class="row">

      <div class="col-4 text-white text-center border-solid border-gray-100 border-l-2">
        <h5 class="hover:text-gray-200">Footer Content</h5>
        <p class="grey-text text-lighten-4 text-left">You can use rows and columns here to organize your footer content.</p>
      </div>

      <div class="col-4 text-center border-solid border-x-2 border-gray-100"><!--   l4 offset-l2 s12-->
        <h5 class="text-white inline-block">Sitios de Interes</h5>
        <ul class="text-left">           
          <li><a class="text-white" href="#!">Link 3</a></li>         
        </ul>
      </div>

      <div class="col-4 text-center border-solid border-r-2 border-gray-100">

        <h5 class="text-white inline-block">Siguenos</h5>  

                <ul class="text-left">

            <!-- <li class="text-white my-3"><fa-icon class="mx-2" [icon]="faTwitter"></fa-icon></li>

            <li class="text-white"><fa-icon class="mx-2" [icon]="faYoutube"></fa-icon></li> -->

            
          </ul>

      </div>  

    </div>

    <div class="row text-center text-white"><!--border-solid border-x-4 border-y-4-->
    
      <div class="col">
        
        Calculator Tools © 2022 Copyright 

      </div>
        
      
    </div>
  
  </div>  


</footer>
