
footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 20px;
   
  }
  
  footer span {
    display: flex;
    align-items: center;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }
  
  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }