<!-- <div class="bg-white w-[50%] mx-auto mb-2"><span class="text-lg text-indigo-600 bold my-16">Angular Calculator</span></div> -->

<title-bar [title]="'Angular Calculator'"></title-bar>

<!--Check  Calculator With on Small Devices-->

<form [formGroup]="formGroup" class="w-full md:w-[50%] md:h-auto xl:w-[50%] xl:h-auto mx-auto"><!--border-2 border-solid border-green-700-->

<div class="form-group">
   
   <div class="rounded-md border border-solid border-slate-600 mt-2 p-4">

      <mat-form-field appearance="outline" class="w-full">

      <input matInput formControlName="main-input" type="text" [value]="displayValue">

      </mat-form-field>

   </div>

</div>

<div class="rounded-md border border-solid border-slate-600 mt-3 p-4 text-center h-[500px]">
   
<calculator-card (buttonEmitter)="SetDisplay($event)" ></calculator-card>

</div>

</form>