<mat-toolbar [ngClass]="bgModeValue+' flex flex-wrap flex-1'" *ngIf="!valuesLoading">
  
  <mat-toolbar-row class="h-24 rounded-md p-0">   

    <div class="flex flex-row flex-wrap w-full h-full p-1">

      <div class="flex flex-1 justify-start items-center">
          
        <a mat-button class="hover:text-gray-500 text-white" [routerLink]="'index'">
          <fa-icon [icon]="faHome" [size]="'sm'"></fa-icon>
         </a>                     

        <span class="flex-1"></span>

        <!-- <button mat-icon-button class="text-white sm:inline-block md:hidden">
          <fa-icon [icon]="faBars" (click)="setToggle()"></fa-icon>
        </button>-->
  
      </div>    

      <!-- <img class="w-28 h-3/4 rounded-md hover:opacity-50" src="assets/logo/yuri.png"> -->      
      <!-- <span class="flex-auto miborde text-black"></span> -->
  
      <div class="flex flex-1 justify-end sm:justify-center md:justify-end  items-center">
  
        <fa-icon class="text-white" [icon]="faMoon"></fa-icon>
  
        <mat-slide-toggle (change)="setBgMode()" ></mat-slide-toggle>   
  
      </div>

    </div>  


  </mat-toolbar-row>

  <mat-toolbar-row class="relative bg-white sm:mt-2 md:mt-0">

    <!--Angular Icon-->

   <div class="flex justify-center items-center rounded-full p-2 h-24 w-24 bg-white shadow-2xl shadow-black border-2 border-red-800 outline outline-red-800 outline-offset-4">     

        <img class="w-auto h-auto rounded-md hover:opacity-50" src="assets/icon/angular2.png">

    </div> 

  </mat-toolbar-row>

</mat-toolbar>
