<title-bar [title]="'Correos Enviados'" [info]="'Listado de Correos'"></title-bar>

<div class="flex justify-center items-center h-full" *ngIf="emailLoading">
    <mat-progress-spinner mode="determinate" color="warn"></mat-progress-spinner>
    <mat-spinner></mat-spinner>
</div>

<operation-bar [disableFoward]="true" [addUrl]="'/admin/sendemail/new'" [backUrl]="'/admin'"></operation-bar><!--'/admin/clientadd'-->


<div class="flex flex-col justify-center items-center rounded-md miborde">


    <table mat-table [dataSource]="dataSource"
        class="bg-indigo-600 shadow-2xl shadow-indigo-600/50 w-full md:w-[70%] border-2 border-white text-center mt-2" *ngIf="!emailLoading">
        <!---->

        <ng-container matColumnDef="actions">
            <th class="text-center" colspan="3" mat-header-cell *matHeaderCellDef>Acciones</th>       
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef>Ver</th>
            <td mat-cell *matCellDef="let email">
                <button mat-icon-button (click)="View(email)">
                    <fa-icon [icon]="faEye"></fa-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>Editar</th>
            <td mat-cell *matCellDef="let email">
                <button mat-icon-button (click)="Resend(email)">
                    <fa-icon [icon]="faEdit"></fa-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>            
            <td mat-cell *matCellDef="let email">

                <button mat-icon-button color="warn" (click)="Delete(email)">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>   
              
            </td>

        </ng-container>

        <ng-container matColumnDef="emailId">
            <th mat-header-cell *matHeaderCellDef>IdEmail</th>
            <td mat-cell *matCellDef="let email">{{email.emailId}}</td>
        </ng-container>
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef>Asunto</th>
            <td mat-cell *matCellDef="let email">{{email.subject}}</td>
        </ng-container>
        <ng-container matColumnDef="body">
            <th mat-header-cell *matHeaderCellDef>Contenido</th>
            <td mat-cell *matCellDef="let email">{{email.body}}</td>
        </ng-container>
        <ng-container matColumnDef="clients">
            <th mat-header-cell *matHeaderCellDef>RCPT</th>
            <td mat-cell *matCellDef="let email">                
               <fa-icon [icon]="faUser" class="text-gray-200" [matTooltip]="Recipients(email)"></fa-icon><!--{{email.recipients[0].firstName}}-->
            </td>
        </ng-container>
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let email">
                {{email.userName}}                
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsHeader"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>

    </table>

    <mat-paginator class="bg-indigo-600 shadow-2xl shadow-indigo-700/50 w-full md:w-[70%] border-2 border-white" [length]="5"
        [pageSize]="5" [pageSizeOptions]="[5,10]" [hidden]="emailLoading"></mat-paginator>
    <!--|| userProfileListLoading-->
    <!-- -->



</div>