<!--Bar Component-->

<bar></bar>


<div class="flex flex-col justify-center items-center mt-10">
    
    <!--Center Component-->
    <div class="main flex flex-row">
       
        <!--Section Left-->

        <div class="flex-auto min-vh-100 my-2 p-2 rounded-md mx-2 sm:w-3/4 md:w-4/5 bg-gradient-to-b from-gray-100 to-white">           

            <router-outlet></router-outlet>            

        </div>

        <!--Section Right-->

        <div class="flex-auto sm:w-1/4 md:w-1/5 my-2 rounded-md min-vh-100 mr-2 p-3 bg-white">

           <img class="object-cover" src="assets/icon/angular.png">            

        </div>

    </div>

    <!-- Footer Component -->

    <div class="w-full">

        <footer-component></footer-component>

    </div>



</div>