<!--Bar Component-->

<bar></bar>


<div class="flex flex-col justify-center items-center mt-10">
    <!--bg-[url()]-->

    <!--Center Component-->
    <div class="main flex flex-row">
        <!--id="bgImage"-->

        <!--Section Left-->

        <div class="flex-auto min-vh-100 my-2 p-2 rounded-md mx-2 sm:w-3/4 md:w-4/5 bg-gradient-to-b from-gray-100 to-white">
            <!--bg-gradient-to-b to-black from-white-->
            <!-- border bg-gray-100 border-slate-100  -->

            <router-outlet></router-outlet>
            

        </div>

        <!--Section Right-->

        <div class="flex-auto sm:w-1/4 md:w-1/5 my-2 rounded-md min-vh-100 mr-2 p-3 bg-white"><!--bg-gradient-to-b from-gray-100 to-white-->

            <!-- bg-gray-100 border border-slate-100 -->
            <!--*ngIf="false" id="bgImage2"-->
            <div class="flex flex-col rounded-md h-full w-full text-center">

                <div
                    class="flex justify-center items-center h-fit bg-indigo-600 rounded-t-md "><!--border-b-gray-100 border-b-4-->

                    <span class="font-sans text-lg font-light text-white uppercase my-4">Articulos</span>

                </div>

                <div
                    class="flex flex-col flex-auto h-1/2 items-center justify-start my-2 border-slate-300 border"><!-- border-b-gray-100 border-b-4 border-x-slate-300 border-x border-t-slate-300 border-t-->

                    <a class="text-md text-indigo-600 hover:text-indigo-400 hover:cursor-pointer">Descripcion del Articulo 2</a>
                    <a class="text-md text-indigo-600 hover:text-indigo-400 hover:cursor-pointer">Descripcion del Articulo 2</a>
                    <a class="text-md text-indigo-600 hover:text-indigo-400 hover:cursor-pointer">Descripcion del Articulo 2</a>
                   
                    <a class="text-blue-800 md:hidden lg:hidden xl:hidden ">PANTALLA PEQUENA</a>
                    <a class="text-blue-800 sm:hidden lg:hidden xl:hidden md:inline-block">PANTALLA MEDIA</a>
                    <a class="text-blue-800 sm:hidden md:hidden lg:inline-block xl:hidden">PANTALLA LARGA</a>
                    <a class="text-blue-800 sm:hidden md:hidden lg:hidden xl:inline-block">PANTALLA EXTRALARGA</a>

                </div>

                <div class="h-fit bg-indigo-600 rounded-t-md">

                    <span class="font-sans text-md font-light text-white uppercase my-4">Tecnologias</span>

                </div>

                <div class="overflow-hidden h-1/5 flex flex-row flex-auto flex-wrap justify-center space-x-1 items-center border-slate-300 border rounded-b-md">   
                   
                <div class="rounded-full h-10 w-10 border-slate-600 border hover:h-14 hover:w-14">
   
                <img class="object-cover" src="assets/icon/angular.png">     

                </div>                                 

            <img class="rounded-full h-10 w-10 border-slate-600 border hover:h-14 hover:w-14" src="assets/icon/python.png">

             <img class="rounded-full h-10 w-10 border-slate-600 border hover:h-14 hover:w-14"  src="assets/icon/php.png">
                   
            <div class="rounded-full h-10 w-10 border-slate-600 border hover:h-14 hover:w-14"> 
             <img  src="assets/icon/sql.png">    
            </div>
                                     

                  
                </div>

                <div class="flex-1"></div>


            </div>



        </div>

    </div>

    <!-- Footer Component -->

    <div class="w-full">

        <footer-component></footer-component>

    </div>



</div>