

<div class="flex w-full min-vh-100 justify-center items-center bg-gray">

    <div class="flex flex-col w-3/5 lg:w-1/2 h-4/5 rounded-t-md rounded-b-md bg-gradient-to-br from-indigo-600 to-white shadow-xl shadow-indigo-500/50"><!-- hover:bg-indigo-700-->

        <div class="h-1/6 p-2 w-full flex justify-center items-center border-solid border-b-2 border-b-white">

            <span class="font-mono font-bold sm:text-xl md:text-2xl text-white truncate">Informacion Personal</span>

        </div>

        <div
            class="my-2 flex flex-col flex-grow justify-center items-center text-center">

            <div class="h-4/5">
                
                <form [formGroup]="formGroup" (ngSubmit)="Register()" >


                    <div class="form-group">

                        <mat-form-field class="text-indigo-700" appearance="outline">
                            <mat-label>FirstName</mat-label>
                            <input matInput type="text" formControlName="firstName" #FirstName>
                            <mat-icon class="text-white" matSuffix><fa-icon [icon]="faUserCircle"></fa-icon></mat-icon>
                            <mat-error *ngIf="f['firstName'].invalid && (f['firstName'].dirty || f['firstName'].touched)">Introduzca El Nombre Por Favor</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="form-group">

                        <mat-form-field appearance="outline">
                            <mat-label>LastName</mat-label>
                            <input matInput type="text" formControlName="lastName">
                            <mat-icon class="text-white" matSuffix><fa-icon [icon]="faLastName"></fa-icon></mat-icon>
                            <mat-error *ngIf="f['lastName'].invalid && (f['lastName'].dirty || f['lastName'].touched)">Introduzca los Apellidos Por Favor</mat-error>
                        </mat-form-field>

                    </div>

                    <div class="form-group">

                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput type="email" formControlName="email" [email]="true">
                            <mat-icon class="text-white" matSuffix><fa-icon [icon]="faEmail"></fa-icon></mat-icon>
                            <mat-error *ngIf="email?.hasError('required') && (email?.touched || email?.dirty)">Introduzca El Correo Por Favor</mat-error>
                            <mat-error *ngIf="email?.hasError('minlength') && (email?.touched || email?.dirty)">El correo debe tener mas de tres caracteres</mat-error>
                            <!-- <mat-error *ngIf="f['email'].invalid && (email?.touched || email?.dirty)">El Correo es incorrecto</mat-error> -->
                                                        
                        </mat-form-field>

                    </div>

                    <button mat-raised-button type="submit" class="text-white bg-red-600 hover:bg-red-500" [disabled]="!this.formGroup.valid">Register</button>

                </form>
            </div>

            <div class="flex justify-center items-center rounded-lg bg-white h-1/6 w-1/3 my-2">

                <span class="text-sm text-gray-600 font-thin">You will receive ours notification</span>
            
            </div>

        </div>

        <div class="h-1/6 w-full flex flex-col justify-center items-center border-solid border-t-2 border-b-white">

            <!-- <div class="w-full text-center mt-2">
                <button mat-raised-button color="warn" (click)="Register()">Register                   
                </button>               
            </div> -->

            <div class="w-full mt-2 h-2">
                <mat-progress-bar mode="indeterminate" color="warn" class="w-full" *ngIf="registerLoading"></mat-progress-bar>
            </div>
        </div>


    </div>

</div>

<!-- <snack-bar></snack-bar> -->