
p{

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

mat-card{

width: 30%;
/* height: 200px; */
display: inline-block;

background-color: white;
margin:10px 20px;

}

mat-card-title, mat-card-subtitle{

    color: black;
}

.avatar-image{
    

    background-image: url('/assets/avatar/avatar.jpg');
    background-size: cover;

}

img{

height:50px; 
height:100px;
}