<mat-card tabindex="1" class="mat-elevation-z4">

    <mat-card-header>

        <div mat-card-avatar class="avatar-image"></div>

        <mat-card-title>Mision</mat-card-title>
        <mat-card-subtitle>Detalles</mat-card-subtitle>            

    </mat-card-header>

    <img mat-card-image  src="assets/images/servicios3.jpg"><!--class="inline-block rounded-md"-->

    <mat-card-content>

        <ul>
            <li class="text-gray-500">Brindar servicios de Desarrollo de Software</li>
            <li class="text-gray-500">Brindar servicios de Desarrollo de Software</li>
        </ul>     

    </mat-card-content>

    <mat-divider inset class="bg-gray-300"></mat-divider>

    <mat-card-actions >

        <button mat-raised-button color="warn">LEER</button>

        <!-- <a class="waves-effect waves-light btn-small"><i class="material-icons left">check</i>LEER</a> -->

    </mat-card-actions>


</mat-card>

<mat-card tabindex="1" class="mat-elevation-z4">

    <mat-card-header>

        <div mat-card-avatar class="avatar-image"></div>

        <mat-card-title>Mision</mat-card-title>
        <mat-card-subtitle>Detalles</mat-card-subtitle>            

    </mat-card-header>

    <img class="w-1/2 inline-block rounded-md" src="assets/images/servicios3.jpg">

    <mat-card-content style="color:black ;">

        <ul>
            <li>Brindar servicios de Desarrollo de Software</li>
            <li>Brindar servicios de Desarrollo de Software</li>
        </ul>     

    </mat-card-content>

    <mat-divider inset class="bg-gray-300"></mat-divider>

    <mat-card-actions >

        <button mat-raised-button color="primary">LEER</button>
        <!-- <a class="waves-effect waves-light btn-small"><i class="material-icons left">check</i>LEER</a> -->
       <!--  <a class="bg-blue-500">Hello</a> -->
        <!-- <a class="btn btn-primary">LEER</a> -->

    </mat-card-actions>


</mat-card>