<div class="flex flex-col rounded-md w-full h-full">

<div class="h-[10%] uppercase text-center bg-blue-600 rounded-t-md py-2"><!--bg-gradient-to-b from-indigo-600 to-white-->

    <span class="text-white">Listado de CLientes</span>

</div>

<div class="h-[23%] border-slate-300 border rounded-md my-2 p-3">

<form [formGroup]="formGroup" ><!--(ngSubmit)="SearchUser("")"-->

<div class="form-group">
    <mat-form-field appearance="outline" class="w-[85%] text-sm">
        <input matInput type="text" formControlName="search">
        <!-- <mat-error *ngIf="this.formGroup.controls['search'].invalid">El valor del Campo es Incorrecto</mat-error> -->
        <!-- <mat-icon></mat-icon> -->        
    </mat-form-field>    
    <button mat-icon-button type="submit"><fa-icon class="ml-2" [icon]="faSearch"></fa-icon></button>
</div>

</form>

</div>


<div class="flex flex-col flex-1 items-center justify-center">
    
    <div class="w-full flex flex-row justify-end">

        <button mat-icon-button [ngClass]="allComplete ? 'bg-blue-600': 'bg-red-600'" (click)="setAll()">
            
            <fa-icon class="text-white" [icon]="faCheck"></fa-icon>

        </button><!--color="primary"-->

    </div>

    <div class="flex-auto h-4/5 w-full overflow-auto border-slate-300 border rounded-md my-2"><!--miborde border-blue-600-->

    <ul *ngIf="!clientListLoading">

        <li *ngFor="let client of clientListAux">

            <button mat-icon-button (click)="ClientChange(client.client)" >
            
                <fa-icon [ngClass]="client.checked ? 'text-blue-700 text-lg':'text-gray-500 text-lg'" [icon]="faUser"></fa-icon>
            
            </button>           
            
            {{client.client.firstName}} | {{client.client.email}}

        </li>        

    </ul>

    </div>

    <div class="text-center flex flex-row flex-1 justify-center w-full">
    
        <button class="bg-indigo-600 text-white hover:bg-indigo-500 mr-4" mat-raised-button (click)="Acept()">Aceptar</button><!--inline-block absolute left-3-->
        
        <button class="bg-red-600  text-white hover:bg-red-500 ml-4" mat-raised-button (click)="Close()">Cancelar</button><!--inline-block absolute right-3 shadow-2xl shadow-red-600-->
    
    </div>

</div>

</div>
