

<mat-dialog-title>
    <div class="w-full text-center text-lg text-gray-600 uppercase font-semibold mb-3">Information</div>
</mat-dialog-title>

<mat-divider class="mb-2"></mat-divider>

<mat-dialog-content class="text-center">

    <p class="inline-block text-gray-600 text-sm">{{description}}</p> 

</mat-dialog-content>

<mat-dialog-actions class="text-center relative">
    
    <button class="bg-indigo-600 inline-block absolute left-3 text-white hover:bg-indigo-500" mat-raised-button (click)="Acept()">Acept</button>
    
    <button class="bg-red-600 inline-block absolute right-3 text-white hover:bg-red-500" mat-raised-button (click)="Close()">Cancel</button><!--shadow-2xl shadow-red-600-->

</mat-dialog-actions>





