/* mat-sidenav-container{

    border-radius: 4px;
}

mat-sidenav-content{

    border-radius: 4px;
    
} */

mat-sidenav{

    width: 200px;
    /* border-radius: 4px; */
}


.content{
    background-color: white;
    height: 88vh;
    border: 1px solid;
    /* border-radius: 4px; */
    /* overflow: auto; */
}